################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UsbTest/UsbTest/bin/Debug
/UsbTest/UsbTest/obj/Debug
